<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        
    </head>
    <body>
        <script type="text/javascript">
            $.getJSON('http://localhost:3000/modules', function(data) {
                var app = angular.module('MyApp', ["ngRoute"]);
                app.controller('MyController', function ($scope) {
                    $scope.Customers = data;
                    $scope.IsVisible = true;
                    var statusvalue = $('[ng-controller="MyController"]').scope().Customers;
                    var length = Object.keys(statusvalue).length;
                    console.log(length);
                    for (var i=0;i<=length;i++) {
                        var statuses = statusvalue[i].status;
                        console.log(statuses);
                        i++;
                    }
                    $scope.calculateStyle = function(item){
                        var color;
                        // Some logic to define color
                        if(item == "active"){
                        return {
                            'color': '#52daaa'
                        }
                        }
                        if(item == "inactive"){
                            return {
                                'color': 'red'
                            }
                        }
                    }
                });
                });
        </script>
        <div class="bodybox">
            <div class="container-fluid header">
                <h1>STECK</h1>
                <h5>Username</h5>
            </div>
            <!-- <div class="container sidebar" id="demo">
                <ul class="list-group">
                    <li>Overview</li>
                    <li>Statistics</li>
                    <li>Devices</li>
                    <li>Logout</li>
                </ul>
            </div> -->
            <div id="mySidenav" class="sidenav">
                <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                <a href="overview.html">Overview</a>
                <a href="#">Statistics</a>
                <a href="index.html">Devices</a>
                <a href="index.html">Logout</a>
            </div>
            <div class="container main" ng-app="MyApp" ng-controller="MyController">
                <div class="inner">
                    <div class="headings">
                        <h3>Devices</h3>
                        <h6>Manage all your devices</h6>
                    </div>
                    <div class="devices">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Module ID</th>
                                    <th>Mapped To</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="m in Customers">
                                <tr>
                                    <td>{{m.moduleid}}</td>
                                    <td>{{m.mappedto}}</td>
                                    <td>{{m.type}}</td>
                                    <td class="mod-status-devices" ng-class="calculateClass(m.status)" ng-style="calculateStyle(m.status)">{{m.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    </body>
</html>