<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        
    </head>
    <body>
        <script type="text/javascript">
            $.getJSON('http://localhost:3000/modules', function(data) {
                var app = angular.module('MyApp', ["ngRoute"]);
                app.controller('MyController', function ($scope) {
                    $scope.Customers = data;
                    $scope.IsVisible = true;
                    var statusvalue = $('[ng-controller="MyController"]').scope().Customers;
                    var length = Object.keys(statusvalue).length;
                    for (var i=0;i<=length;i++) {
                        var statuses = statusvalue[i].status;
                        i++;
                    }
                    $scope.calculateStyle = function(item){
                        var color;
                        // Some logic to define color
                        if(item == "active"){
                        return {
                            'color': '#52daaa'
                        }
                        }
                        if(item == "inactive"){
                            return {
                                'color': 'red'
                            }
                        }
                    }
                    var i = 0;
                    $scope.calculateHeight = function(item){
                        var backgroundcolor;
                        var total = $scope.Customers[i].length;
                        // Some logic to define color
                            var a= document.getElementsByClassName('wave');
                            var b=document.getElementsByClassName('wave1');
                            var c=document.getElementsByClassName('wave2');
                            a[i].style.top = total-item;
                            b[i].style.top = total-item;
                            c[i].style.top = total-item;
                            i++;
                    }      
                });
                });
                //dsafasfassaf
        </script>
        <div class="bodybox">
            <div class="container-fluid header">
                <h1>STECK</h1>
                <h5>Username</h5>
            </div>
            <!-- <div class="container sidebar" id="demo">
                <ul class="list-group">
                    <li>Overview</li>
                    <li>Statistics</li>
                    <li>Devices</li>
                    <li>Logout</li>
                </ul>
            </div> -->
            <div id="mySidenav" class="sidenav">
                <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                <a href="overview.html">Overview</a>
                <a href="#">Statistics</a>
                <a href="index.html ">Devices</a>
                <a href="index.html">Logout</a>
            </div>
            <div class="container main overview" ng-app="MyApp">
                <div class="inner" ng-controller="MyController">
                    <div class="row">
                        <div class="col-md-5 mod-contents"  ng-repeat="m in Customers">
                            <div class="border"></div>
                            <h2>Module - {{m.id}}</h2>
                            <h6>{{m.moduleid}}</h6>
                            <div class="text-inside">
                                <h6>Status:&nbsp;<span class="mod-status" ng-class="calculateClass(m.status)">{{m.status}}</span></h6>
                                <h6>Length:&nbsp;{{m.length}}cms</h6>
                                <h6>Value:&nbsp;<span ng-class="calculateHeight(m.value)">{{m.value}}cms</span></h6>
                            </div>
                            <div class="container-display">
                                <div class="wave"></div>
                                <div class="wave1"></div>
                                <div class="wave2"></div>
                                <!-- <div class="wave3"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>