<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Chart.js demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script type="text/javascript">
        $.getJSON('http://localhost:3000/modules', function(data) {
            var values = [];
            for(var i=0;i<data.length;i++){
                values[i] = data[i].value;
                console.log(values);
            
        getSample = function(n) {
            var res = [];
            for (var i = 0; i < n; i++) {
                res.push(Math.round(Math.random() * 100));
            }
            return res;
        }
    
        var app = angular.module('app', ["chart.js"]);
        app.controller("Ctrl", function Ctrl($scope, $interval) {
    
            $scope.chart = '{"type": "line"}';
            $scope.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];
            $scope.valuess = values;
            
            $scope.updateConfig = function(testFunction) {
                var ctx = document.getElementById("myChart");
                var config = JSON.parse($scope.chart);
                config["data"] = {
                    labels: $scope.labels, //should be a reference
                    datasets: [{
                        data: $scope.valuess //should be a reference 
                    }]
                }
                var myChart = new Chart(ctx, config);
            };
    
            $scope.$watch('data', function(){
                var ctx = document.getElementById("myChart");
                var config = JSON.parse($scope.chart);
                config["data"] = {
                    labels: $scope.labels, //should be a reference
                    datasets: [{
                        data: $scope.valuess //should be a reference 
                    }]
                }
                var myChart = new Chart(ctx, config);
            }, false);
    
            /*$interval(function() {
                $scope.data = getSample(7);
                console.log("Changed data to " + $scope.data);
            }, 3000);*/
        });
            }
    });
        </script>
</head>

<body ng-app="app" ng-controller="Ctrl">
    <!-- <textarea ng-model="chart"></textarea>
    <button ng-click="updateConfig();">Update</button> -->
    
    <canvas id="myChart"></canvas>
    
</body>
</html>
