.bodybox{
    width: 1200px;
    margin: 0px auto;
    background-color:  rgb(245, 245, 245);
    height: 100%;
}
.header{
    height: 235px;
    width: 100%;
    background-color: rgb(117, 0, 252);
}
.header h1{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
.header h5{
    position: absolute;
    top: 180;
    color: white;
    padding-left: 40px;
}
.sidenav {
    width: 250px;
    height: 560px;
    position: absolute;
    z-index: 1;
    left: 168;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font-size: 17px;
    padding-left: 80px;
    padding-top: 5px;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;    
}

.sidenav a:hover {
    color: rgb(157, 90, 233);
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-menu{
    font-size:30px;
    cursor:pointer; 
}
.main{
    position: relative;
    background-color:  inherit;
    height: 500px;    
    width: 900px;
    border-radius: 9px;
    top: -100px;
    left: 80;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}
.inner{
    height: 100%; 
    width: 900px;   
    overflow: scroll;
}
.headings{
    padding-top: 20px;
    padding-left: 20px;
}
.inner h3{
    transform: scale(1, .9);
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
    line-height: 18px;
    color: grey;    
}
.devices{
    padding-top: 20px;
}
.table{
    width: 600px;
    margin: 0px auto;
}
.table th{
    color: rgb(157, 90, 233);
    font-weight: 500;
    transform: scale(1,0.9);
}
.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
  border-bottom: none;
  border-top: none;
}
tbody:before {
    line-height:2em;
    content:"_";
    color:white;
    display: block;
}
tbody tr td{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: grey;
}
tbody tr:hover{
    background-color:  rgb(157, 90, 233);
}
.mod-contents h2{
    padding-left: 50px;
    padding-top: 30px;
    line-height: 8px;
    color: grey;
    font-size: 23px;
}
.mod-contents h6{
    padding-left: 52px;
    color:  rgb(157, 90, 233);
    font-weight: 600;
}
.text-inside{
    padding-top: 50px;
}
.text-inside h6{
    color: grey;
    font-size: 13px;
    letter-spacing: 1px;
   
}
.overview{
    background-color: white;
}
.mod-status{
    text-transform: uppercase;
    font-weight: 600;
}
.mod-status-devices{
    text-transform: uppercase;
}
.container-display{
    height: 150px;
    width: 150px;
    border-left: 3px solid  rgb(157, 90, 233);
    border-bottom: 3px solid  rgb(157, 90, 233);
    border-right: 3px solid  rgb(157, 90, 233);
    position: relative;
    bottom: 70;
    left: 210; 
    overflow: hidden;
}
.wave, .wave1, .wave2, .wave3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 200%;
    background-image: url('wave1.jpg');
    background-size: 50% 75px;
    background-repeat: repeat-x;
    transform-origin: center bottom;
    background-color: #45C1FF;
}
.wave{
    animation: waves 3s linear infinite;
    opacity: 1;
    z-index: 10;
}
.wave1{
    animation: waves 5s linear infinite;
    opacity: 0.8;
    z-index: 11;
}
.wave2{
    animation: waves 12s linear infinite;
    opacity: 0.6;
    z-index: 12;
}
.wave3{
    animation: waves 5s linear infinite;
    opacity: 0.4;
    z-index: 13;
}
@keyframes waves{
    0% {transform: translateX(0) translateZ(0) scaleY(1);}
    0% {transform: translateX(-25%) translateZ(0) scaleY(0.5);}
    0% {transform: translateX(-50%) translateZ(0) scaleY(1);}
}