
<div class="bodybox">
    <div class="container-fluid header">
        <h1>STECK</h1>
        <h5>{{name}}</h5>
    </div>
    <!-- <div class="container sidebar" id="demo">
        <ul class="list-group">
            <li>Overview</li>
            <li>Statistics</li>
            <li>Devices</li>
            <li>Logout</li>
        </ul>
    </div> -->
    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <a href="overview.html">Overview</a>
        <a href="statistics.html">Statistics</a>
        <a href="/devices">Devices</a>
        <a href="index.html">Logout</a>
    </div>
    <div class="container main" ng-app="MyApp" ng-controller="MyController">
        <div class="inner">
            <div class="headings">
                <h3>Devices</h3>
                <h6>Manage all your devices</h6>
            </div>
            <div class="devices">
                <table class="table borderless">
                    <thead>
                        <tr>
                            <th>Module ID</th>
                            <th>Mapped To</th>
                            <th>Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="m in Customers">
                        <tr>
                            <td ng-bind="m.moduleid"></td>
                            <td ng-bind="m.mappedto"></td>
                            <td ng-bind="m.type"></td>
                            <td class="mod-status-devices" ng-class="calculateClass(m.status)" ng-style="calculateStyle(m.status)"
                             ng-bind="m.status"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
