<div class="bodybox">
    <div class="container-fluid overview-header">
        <h1>STECK</h1>
        <div class="userData">
            <h5>{{user}}</h5>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        
        <a href="/overview">Overview</a>
        <a href="/statistics">Statistics</a>
        <a href="/devices">Devices</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="container main overview" ng-app="MyApp">
        <div class="inner" ng-controller="MyController">
            <div class="row">
                <div class="col-md-6 mod-contents"  ng-repeat="m in Customers">
                    <div class="border"></div>
                    <h2>Module - <span ng-bind="m.id"></span></h2>
                    <h6 ng-bind="m.moduleid"></h6>
                    <div class="text-inside">
                        <h6>Status:&nbsp;<span class="mod-status" ng-style="calculateStyle(m.status)" ng-bind="m.status"></span></h6>
                        <h6>Length:&nbsp;<span ng-bind="m.length"></span>&nbsp;cms</h6>
                        <h6>Value:&nbsp;<span ng-style="calculateHeight(m.value)" ng-bind="m.value"></span>&nbsp;cms</h6>
                    </div>
                    <div class="container-display">
                        <div class="wave"></div>
                        <div class="wave1"></div>
                        <div class="wave2"></div>
                        <!-- <div class="wave3"></div> -->
                        <hr class="vertical">
                    </div>
                    <hr class="hor-rule">
                </div>
            </div>
        </div>
    </div>
</div>